.error {
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  color: red;
}

h1,
.loading {
  text-align: center;
}

p {
  font-size: 20px;
  font-weight: bold;
}

.result {
  display: flex;
  justify-content: space-evenly;
}
